langchain
langchain-text-splitters
langchain-community
langchain-classic
langchain-ollama
langchain-chroma
rank_bm25
langchain-cohere
tiktoken
python-dotenv
langgraph
pandas
openpyxl
PyMuPDF
python-docx
Pillow
pytesseract
